* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Tahoma, Verdana sans-serif;
  background: #f9fafb;
  color: #111;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

.header {
  text-align: center;
  font-size: 2rem;
  font-family: Tahoma, Verdana sans-serif;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 1.8rem;
  font-family: Tahoma, Verdana sans-serif;
  text-align: center;
}


.card {
  background: white;
  border-radius: 16px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.heat-card {
  background-color: #fef08a;
}

.level {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  gap: 0.5rem;             
  font-size: 3.5rem;
  font-family: Tahoma, Verdana sans-serif;
  margin-top: 1rem;
  font-weight: bold;
}


.icon {
  font-size: 7rem;
}

.reminders {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  font-size: 2rem;
  font-family: Tahoma, Verdana sans-serif;
  line-height: 1.8;
}

.cards-row {
  display: flex;
  gap: 2rem;            
  justify-content: center; 
}

.card {
  flex: 1 1 45%;        
  min-width: 300px;     
}

